@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";

$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}
.wrap {
    max-width: 1170px;
    margin: 0 auto;
}
h3 {
    font-size: 24px;
    letter-spacing: 1.2px;
}
.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 162px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 178px;
    &__logo {
        display: block;
        background-image: url(../img/logo.svg);
        width: 137px;
        height: 28px;
    }
    &-list {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        font-family: 'Open Sans', sans-serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            margin-top: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;                
            } 
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }  
}  

.block-text {
    flex-basis: calc(93% - 500px);
    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 1px;
        margin-bottom: 30px;
    }
    &__name_top {
        margin-top: 16px;
        letter-spacing: 1.6px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;   
        letter-spacing: 1.8px;    
        margin-bottom: 42px; 
        span {
            display: block;
            font-size: 18px;
            color: $accent-color;   
            margin-top: 12px;
            letter-spacing: 0.9px;                
        }
    }
    &__description {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        letter-spacing: 0.7px;
        line-height: 24.5px;     
        margin-bottom: 22px;    
    }
    &__btn {
        display: block;
        background-color: $accent-color;
        color: $light-color;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 47px;
        margin-bottom: 18px;
        padding: 14px 0;
        letter-spacing: 0.8px;        
    }
    &__small {
        font-family: 'Open Sans', sans-serif; 
        font-style: italic;
    }
}
.block-book {
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        background-image: url(../img/book-01.svg); 
        background-repeat: no-repeat;
        height: 640px;
        flex-basis: 500px;
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
}
.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        margin-top: 48px;
        margin-right: 44px;
    }
}
.page {
    padding-top: 161px;
    &_gray {
        background-color: $bg-light-color;
    }
    &__title {
        font-size: 48px;
    }
    &__subtitle {
        color: $accent-color;
    }
}
.block-counter {
    display:flex;
    justify-content: space-around;
    margin-top: 165px;
    p {
        font-family: 'Open Sans', sans-serif; 
        text-align: center;
        font-size: 18px;
    }
    span {
        display: block;
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        font-size: 80px;
        color: $accent-color;
        margin-bottom: 12px;
    }
}
.block-about {
    display: flex;
    justify-content: space-between;
    h3 {
        margin-bottom: 20px;
    }
    &-text {
        flex-basis: 40%;
    }
    p {
        letter-spacing: 0.8px;
    }
    &-table {
        flex-basis: 50%;
            &__list {
            margin: 0;
            padding: 0;
            counter-reset:list;
            column-count: 2;
            &>li {
                position: relative;
                padding-left: 50px;
                counter-increment:list;
                list-style-type:none;
                letter-spacing: 0.7px;
                &:before {
                    content: counter(list) ". ";
                }
                &:after {
                    position: absolute;
                    content: "+";
                    left: 0;
                }
            }
        }
    }
}
    

