<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>gulp-scss-starter</title>
		//= includes/head.html
	</head>
	<body>
		<div class="page-main">
			<header>
				<div class="header">
					<a href="" class="header__logo"></a>
					<ul class="header-list">
						<li class="header-list_item">Home</li>
						<li class="header-list_item">About</li>
						<li class="header-list_item">Contents</li>
						<li class="header-list_item">Books</li>
						<li class="header-list_item">Education</li>
						<li class="header-list_item">Skills</li>
						<li class="header-list_item">Portfolio</li>
						<li class="header-list_item">Clients</li>
						<li class="header-list_item">Contact</li>
					</ul>
				 </div>
			</header>
			<div class="wrap">
				<div class="block-book">
					<div></div>
					<div class="book-text">
						<p class="book-text__name">- By Emma Anderson</p>
						<h1 class="book-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span></h1>
						<p>Lorem</p>
						<p>Duis</p>
						<a href="" class="book-text__btn">Buy this book - $15.00</a>
						<small>* Some conditions may applicable</small>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="block-author">
					<div class="book-text">
						<p class="book-text__name">- Book Author</p>
						<h1 class="book-text__title">Emma Anderson <span>A room without books is like a body without a soul</span></h1>
						<p>Lorem</p>
						<p>Duis</p>
						<a href="" class="book-text__btn">Read full biography</a>
					</div>
					<div></div>
				</div>
				<div class="block-counter">
						<p><span>12</span>Total published books</p>
						<p><span>5</span>Happy readers</p>
						<p><span>15,000</span>Total published books</p>
				</div> 
			</div>
		</div>
		<div class="page page_gray"> 
			<div class="wrap">
				<h2 class="page__title">Book Contents</h2>
				<p class="page__subtitle">Let’s see what we have covered in the book</p>
				<div class="block-about">
					<div>
						<h3>About the book</h3>
						<p>LOrem</p>
						<div>
							<p>Featured in:</p>
							<ul>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
							</ul>
						</div>
					</div>
					<div>
						<h3>Table of contents</h3>
						<ol>
							<li>chapter 1</li>
							<li>chapter 2</li>
							<li>chapter 3</li>
							<li>chapter 4</li>
							<li>chapter 5</li>
							<li>chapter 6</li>
							<li>chapter 7</li>
							<li>chapter 8</li>
							<li>chapter 9</li>
							<li>chapter 10</li>
						</ol>
						<button>More</button>>
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>